* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3b3b3b;
  .main__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 12%;
    .btn {
      font-family: "Roboto", sans-serif;
      font-size: 25px;
      border: 3px solid rgb(37, 37, 37);
      padding: 12px 20px;
      background: none;
      color: #ffff;
    }
    .main__section-content {
      font-family: "Roboto", sans-serif;
      font-size: 25px;
    }
  }
}
